body {
  background-color: lightblue;
  background-image: (;

  background-position: center;
}
h1 {
  background-color: brown;
  font-style: oblique;
  font-size: 50px;

}

div {
  background-color: lightblue;
}
.container {
  background-position: center;
}
