body {
  background-color: lightblue;
  background-image:url("../images/index.gif");
  background-repeat: repeat;

  background-position: center;
}
h1 {
  background-color: brown;
  font-style: oblique;
  font-size: 70px;

}
button {
  color:black;
}
