body {
  background-color: lightblue;
  background-image:url("../images/index.gif");
  background-repeat: repeat;

  background-position: center;
}
h1 {
  background-color: brown;
  font-style: oblique;
  font-size: 70px;

}
button {
  color:black;
}
.form-inline {
  margin-left: 35%;
  font-size: 30px;

}
p {
  font-size: 35px
}
